:root {
  --purple: rgb(93, 23, 76);
  --darkpurple: rgb(42, 11, 35);
}

h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--darkpurple);
}

p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

fieldset {
  display: none;
}

#playAgain {
  display: none;
}

body {
  border: solid black;
}

button {
  background-color: var(--purple);
  color: white;
  border-radius: 6px;
  margin-left: 50%;
  margin-right: 50%;
}

.introh1 {
  text-decoration: none; 
}

.introp {
    text-decoration: none; 
  }

  
